<!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Trilli Bi - Bootstrap Landing Page</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="scroll-link" href="#top-content">Top</a></li>
            <li><a class="scroll-link" href="#features">Features</a></li>
            <li><a class="scroll-link" href="#screenshots">Screenshots</a></li>
            <li><a class="scroll-link" href="#pricing">Price</a></li>
            <li><a class="scroll-link" href="#testimonials">Testimonials</a></li>
            <li><a class="scroll-link" href="#about-us">About</a></li>
            <li><a class="scroll-link" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
